<h1>Scheduler</h1>

<p>Number of appointments: <%= Appointment.public_count %></p>

<ul>
  <% @appointments.each do |appointment| %>
    <% unless appointment.archived? %>
      <li>
        <%= link_to appointment.time, appointment %>
      </li>
    <% end %>
  <% end %>
</ul>


<%= link_to "New Appointment", new_appointment_path %>